root {
    display: block;

}
#grid{
    -fx-background-color:"#333";
}
#status{
    -fx-font-family: 'Helvetica Neue', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size:1em;
}
#field-red{
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
    -fx-shadow-highlight-color: red;
    -fx-background-color:"#2B2B2B";
}

#fieldgreen{
    -fx-text-box-border: green ;
    -fx-focus-color: green ;
    -fx-shadow-highlight-color: green;
    -fx-background-color:"#2B2B2B";
}
#runbutton{
    -fx-pref-width:50;
    -fx-background-image: url("./images/play.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#switchbutton{
    -fx-pref-width:50;
    -fx-background-image: url("./images/circle.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;

}
#Statistik{
    -fx-pref-width:50;
    -fx-background-image: url("./images/graph.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}